# Terraform state
*.tfstate
*.tfstate.*
*.tfplan

# Terraform variables
*.tfvars
*.tfvars.json

# Allow examples
!*.tfvars.example

# Terraform working directory
**/.terraform/

# Python
**/venv/
**/.venv/
**/__pycache__/
*.py[cod]
.coverage
**/.coverage
.pytest_cache/
.checkov-venv/

# Environment / OS / IDE
.env
.env.*
.DS_Store
.vscode/
.idea/ 